# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
## Objectives
1. List popular languages tha data scientists use
2. List commonly used libraries by data scientist
3. Create a table
4. Introduce arithmetic expessions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia
4. Scala
5. Java
6. MATLAB
7. Java Script
8. C++
9. SAS

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Keras
4. PyTorch
5. Matplotlib
6. SciPy
7. Scikit-Learn
8. Pycaret

| Data Science Tools |
|____________________|
|                    |

### introducing arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
This a simple arithmetic expression to mutiply then add integers

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [4]:
200/60
This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Kunguru Kizito